/*HOMEPAGE*/
body{
    background-color: #000000;
    color: #fff;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header h1{
    text-align: center;
}


.work h2 {
 float: left;
    width: 60%;
    border: 1px solid #fff;
    padding: 2%;
    padding-left: 13%;
}
.about h2 {
float: right;
    width: 60%;
    border: 1px solid #fff;
    padding: 2%;
    padding-left: 13%;
}


.contact h2{
text-align: center;
}