/*HOMEPAGE*/
body{
    background-color: #000000;
    color: #fff;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.work h2 {
   height: 0%;
    width: 60%;
    border: 1px solid #fff;
    padding: 2%;
    padding-left: 13%;
}
.about h2 {
   height: 0%;
    width: 60%;
    border: 1px solid #fff;
    padding: 2%;
    padding-left: 13%;
}


.bottom{

}