/*NB://
*.empty class  separates  content by  2vh
*icon color #f7ac54

*/
/*gen styles*/
i{
    color: #f7ac54;
    font-size: 30px;
}

/*backgrounds*/
.semi-dark{
    background-color: #202020;
}

.dark{
      background-color: #171717;

}


/*header*/
.header{
    height:  10vh;
}


/*--CONTENT--*/
.main{
   
}


/*MID*/


.mid{
        height: 70vh;
}
.empty{
    height: 2vh;
}


/*top*/

.top .blog{
margin-right: 2%;
}
/*blog*/


.blog{
    background-color: yellow;
    height: 34vh;
    width: 49%;
    
}


/*portfolio*/

.portfolio{
    background-color: deepskyblue;
    height: 34vh;
        width: 49%;
}


/*about*/

.about{
    height: 34vh;
        background-color: brown;

}

/*side*/
.side{
    background-color: aqua;
    height: 70vh;
}

/*footer*/

.foot{
    background-color: chartreuse;
    height: 15vh;
    
}