/*header*/
.menu-content{
    padding-top: 2em;
    text-align: center;
}

/*body*/
h2{
    text-align: center;
}
#margin{
    height: 17vh;
}
/*about*/
#about{
   padding-top: 50vh;;
    color: white;
}
.fami img{
    height: 3em;
    width: 3em;
}


/*my work*/
.row .gr
.proj__1{
    padding-left: 25em;
}
.proj__two{
padding-left: 10em;
}