@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
      body{overflow-x: hidden;
          width: 100%;
          
      
      }
      
/*      nav*/
      .navbar{
         position: fixed;
          
      }
      
/*      gallery*/
      img{
          height: 10px%;
          width: 10px;
      }
      
      
      
}